@{
    ViewData["Title"] = "Home Page";
}



<div class="img-centrarl">

    <img src="https://media.istockphoto.com/id/1018141890/es/foto/copas-de-vino-vac%C3%ADas-dos-sentados-en-un-restaurante-en-una-c%C3%A1lida-tarde-soleada.jpg?s=612x612&w=0&k=20&c=ykP_wg0GFiEgpvpD-0-AWJT3Pt0_bAvhiwe7Vwu-3KQ=" />
</div>

<style>
    .img-centrarl {
        width:70vw;
        max-width: 1000px;
        min-width:220px;
        margin: auto;
        background-size:cover;
    }

    .img-centrarl img{
        width:100%;
        border-radius: 15px;
    }
    

</style>


